.container {
    display: flex;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

.block {
    flex: 1;
    height: 29vh;
    background-color: rgb(193, 193, 193);
    border-top: solid 2px black;
}

h3 {
    font-size: 2.2vh;

}

h4 {
    font-size: 2vh;
}

h5 {
    font-size: 1.8vh;
}

p {
    font-size: 2vh;

}

/* Borders for middle and outside blocks */
#outside-left {
    border-right: solid 0.3vh black;
}
#outside-right {
    border-left: solid 0.3vh black;
}

#outside-right img {
    margin: 0px 0px -1vh 5px;
    width: 50px;
}


.footer-txt {
    margin-top: 5vh;
}

span {
    color: #ab8628;
}

#email-txt {
    margin-top: 5vh;
}

/* Mobile Responsive - Stacking Blocks Vertically */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    /* Removing borders for mobile */
    .block {
        border: solid 1px black;
    }

    .footer-txt {
        margin-top: 20px;
    }

    #email-txt {
        margin-top: 15px;
    }
}


.bottom-container {
    text-align: center;
    background-color: rgb(20, 20, 20);
    margin-top: -0.8vh;
    font-family: 'Oswald', sans-serif;
}

.bottom-container #url {
    color: white;
    padding-top: 1vh;
    font-weight: 800;
}

.bottom-container #email {
    color: #FB1B;
    margin-top: -1.5vh;
}

.bottom-container #copyright {
    color: rgb(166, 166, 166);
    padding-bottom: 1vh;
    margin-top: 7px;
    font-size: 1.5vh;
}



