<div class="container">
    <div class="block" id="outside-left">
        <div class="footer-txt">
            <span class="material-symbols-outlined">location_on</span>
            <h4>Address</h4>
            <p class="card-txt">416 S 6th Street</p>
            <p class="card-txt">Columbia, MO 65201</p>
        </div>
    </div>
    <div class="block" id="middle">
        <div class="footer-txt" id="email-txt">
            <span class="material-symbols-outlined">mail</span>
            <h4>Email</h4>
            <p class="card-txt">saeelectric@missouri.edu</p>
        </div>
    </div>
    <div class="block" id="outside-right">
        <div class="footer-txt">
            <span class="material-symbols-outlined">thumb_up</span>
            <h4>Connect</h4>
            <a href="https://www.instagram.com/mizzouelectricracing/"><img src="../../assets/otherAssets/instaLogo2.png"></a>
            <p class="card-txt">@mizzouelectricracing</p>
        </div>
    </div>
</div>

<div class="bottom-container">
    <h3 id="url">mizzoueletricracing.com</h3>
    <h4 id="email">saeelectric@missouri.edu</h4>
    <h5 id="copyright">@ 2023 Mizzou Electric Racing</h5>
</div>
