<div class="desrciption">
    <div class="description-content">
        <h1>Brakes and Controls</h1>
        <p>
            This subsystem encompasses brakes, controls, & ergonomics. We use Wilwood brake calipers with laser cut rotors. Our steering wheel has paddle shifters for sequential pneumatic shifting. Cockpit design is a new goal for this season, specifically making it more adjustable for each driver. We currently have an adjustable pedal chassis with carbon fiber foot cups.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/brakescontrols1.png">
    <img src="../../../assets/car237/car2371.png">
    <img src="../../../assets/subteams/brakescontrols2.png">
</div>
<div class="desrciption" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Alex Kunz</h1>
        <p>
            Alex is a sophomore mechanical engineering student. He joined the team his freshman year and worked closely with our previous suspension lead (Spencer Goldstein, Spring 2023) and previous brakes & controls lead (Aaron Jewett). His main goal for this season is cockpit design, specifically making it more adjustable for each driver. Alex is also a member of our welding team and fabricates the chassis and suspension components.
        </p>
    </div>
</div>
<app-footer></app-footer>