<div class="description">
    <div class="description-content">
        <h1>Aerodynamics</h1>
        <p>
            We design and manufacture an aerodynamics package for every car. 
            With the help of sponsors, we have all of the materials needed 
            for composite parts production in our shop. The aerodynamics package 
            provides downforce and drag reduction for our car. Our Aerodynamics 
            Team work to design front and rear wings, a nose cone, side pods, and 
            an undertray.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/aero3.png">
    <img src="../../../assets/subteams/aero4.png">
    <img src="../../../assets/subteams/aero2.png">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Abel Osorio-Morales</h1>
        <p>
            Abel is a senior mechanical engineering major. He joined 
            the team in Fall 2020. He has dedicated his time to learning 
            Star CCM software and creating simulations to design a more efficient 
            aerodynamics package. Abel has redesigned our rear wing and 
            sidepod/ducts. He also introduced the addition of Mylar to our carbon 
            fiber manufacturing process improving the surface finish on our parts. 
            While away on co-op at Hunter Engineering for Fall 2023, Abel is continuing 
            his design process remotely and commuting in on weekends.
        </p>
    </div>
</div>
<app-footer></app-footer>