<div class="description">
    <div class="description-content">
        <h1>Powertrain</h1>
        <p>
            The powertrain consists of an EMRAX 228 axial flux motor, a CM200 inverter, and a battery pack made of 805 Li-ion 18650 cells in a 115s 7p configuration. The system has a capacity of over 8 kWh, and at max charge, reaches nearly 500 volts. Our team wires and integrates these components in house. 
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/powertrain1.png">
    <img src="../../../assets/car237/car2371.png">
    <img src="../../../assets/subteams/powertrain2.png">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Ben Higgins</h1>
        <p>
            Ben is a sophomore mechanical engineering major, he joined the team in Fall 2022. He was mentored by our previous powertrain lead (Chris Drake, Spring 2023). He is also a member of our welding team and plays a huge role in chassis fabrication.
        </p>
    </div>
</div>
<app-footer></app-footer>