.photo-gallery-container {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(31, 31, 31);
  margin-top: 16vh;
  color: #F1B82D;
}

.photo-gallery-two {
  padding-bottom: 100px;
}

p{
    line-height: 30px;
    font-size: 1.2rem;
  }
  
  h1{
    padding-top:50px;
    font-size:3rem;
    text-align: center;
  }
  .sidescroll{
    width:80%;
    margin-left:10%;
    background-color: white;
    height: auto;
    display:flex;
    overflow-x:auto;
    overflow-y:hidden ;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    scroll-behavior: smooth;
  }
  .sidescroll::-webkit-scrollbar{
    display: none;
  }
  
  .child {
    width: 100%;
    height: 800px;
    margin: 1px 10px;
  
  }
  .cover {
    padding: 0px 30px;
    position: relative;
  
  }
  .left {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    height:100px;
    width:50px;
    border:none;
    background-color:white;
    opacity: 50%;
  
  }
  .left:hover{
    opacity:100%;
    transition-duration: .5s;
  }
  .right {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width:50px;
    border:none;
    background-color: white;
    opacity: 50%;
  }
  .right:hover{
    opacity: 100%;
    transition-duration: .5s;
  }
  
  
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(13, 300px) 0px;
    grid-template-rows: repeat(6, 120px [hey]);
    grid-gap: 10px;
  }
  .gallery2{
    display:grid;
    grid-template-columns: repeat(17,200px) 0px;
    grid-template-rows: repeat(6,120px)0px;
    grid-gap:10px
  }
  .gallery3{
    display:grid;
    grid-template-columns: repeat(18,200px) 0px;
    grid-template-rows: repeat(6,120px) 0px;
    grid-gap:10px;
  }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  
  }
  .leftbtn{
    height: 100%;
    width: 100%;
    object-fit:cover;
  }
  .rightbtn{
    height: 100%;
    width: 100%;
    object-fit:cover;
  }
  
  /*
  Below is the specifications of where each picture should be
  
  https://css-tricks.com/snippets/css/complete-guide-grid/#aa-introduction
   */
  
  
  
  figure{
    margin:0px;
  }
  
  #GI1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
  
  }
  
  #GI2 {
    grid-column: 1 / span 1;
     grid-row: 5 / span 2;
  
  }
  
  #GI3 {
   grid-column: 2 / span 2;
    grid-row: 1 / span 3;
  }
  
  #GI4 {
  grid-column: 2 / span 2;
    grid-row: 4 / span 3;
  
  }
  
  #GI5 {
   grid-column: 4 / span 2;
    grid-row: 1 / span 4;
  }
  
  #GI6 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 2;
  }
  #GI7{
    grid-column: 5/ span 1;
    grid-row:5/ span 2;
  }
  #GI8{
    grid-column: 6/ span 1;
    grid-row:1/ span 2;
  }
  #GI9{
    grid-column: 7/ span 1;
    grid-row:1/ span 2;
  }
  #GI10{
    grid-column: 6/ span 2;
    grid-row:3/ span 4;
  }
  #GI11{
    grid-column: 8/ span 3;
    grid-row:1/ span 6;
  }
  #GI12{
    grid-column: 11/ span 3;
    grid-row:1/ span 6;
  }
  
  /*
  Grid 2's positions yay :)                  ///////////////////////////////////////////////////////////
   */
  .gallery2.HC{
    width:200px;
    height: 100px;
  }
  #GI21 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  
  }
  
  #GI22 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }
  
  #GI23 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 4;
  }
  
  #GI24 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
  
  }
  
  #GI25 {
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
  }
  
  #GI26 {
    grid-column: 6 / span 4;
    grid-row: 1 / span 4;
  }
  #GI27{
    grid-column: 6/ span 2;
    grid-row:5/ span 2;
  }
  #GI28{
    grid-column: 8/ span 2;
    grid-row:5/ span 2;
  }
  #GI29{
    grid-column: 10/ span 2;
    grid-row:1/ span 2;
  }
  #GI210{
    grid-column: 12/ span 2;
    grid-row:1/ span 2;
  }
  #GI211{
    grid-column: 10/ span 4;
    grid-row:3/ span 4;
  }
  #GI212{
    grid-column: 14/ span 5;
    grid-row:1/ span 6;
  }
  
  /*
  Grid 3's positions yay :)                  ///////////////////////////////////////////////////////////
   */

  
  
  
  
  
  /*
  All below is to set the sizes of the grid                 //////////////////////////////////////////
  DO NOT MESS WITH IT
  
   */
  
  
  .VC{
    height:100px;
    width:0px;
  }
  #VC1{
    grid-column: 14 / span 1 ;
    grid-row: 1 / span 1;
  }
  #VC2{
    grid-column: 14 / span 1 ;
    grid-row: 2 / span 1;
  }
  #VC3{
    grid-column: 14 / span 1 ;
    grid-row: 3 / span 1;
  }
  #VC4{
    grid-column: 14 / span 1 ;
    grid-row: 4 / span 1;
  }
  #VC5{
    grid-column: 14 / span 1 ;
    grid-row: 5 / span 1;
  }
  #VC6{
    grid-column: 14 / span 1 ;
    grid-row: 6 / span 1;
  }
  .HC{
    width:400px;
    height:0px;
  }
  #HC1{
    grid-column: 1 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC2{
    grid-column: 2 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC3{
    grid-column: 3 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC4{
    grid-column: 4 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC5{
    grid-column: 5 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC6{
    grid-column: 6 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC7{
     grid-column: 7 / span 1 ;
     grid-row: 6 / span 1;
   }
  #HC8{
      grid-column: 8 / span 1 ;
      grid-row: 6 / span 1;
    }
  #HC9{
    grid-column: 9 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC10{
    grid-column: 10 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC11{
    grid-column: 11 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC12{
    grid-column: 12 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC13{
    grid-column: 13 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC14{
     grid-column: 14 / span 1 ;
     grid-row: 6 / span 1;
  
   }
  
  
  /*
  second grid                                  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
   */
  
  
  
  #VC21{
    grid-column: 19 / span 1 ;
    grid-row: 1 / span 1;
  }
  #VC22{
    grid-column: 19 / span 1 ;
    grid-row: 2 / span 1;
  }
  #VC23{
    grid-column: 19 / span 1 ;
    grid-row: 3 / span 1;
  }
  #VC24{
    grid-column: 19 / span 1 ;
    grid-row: 4 / span 1;
  }
  #VC25{
    grid-column: 19 / span 1 ;
    grid-row: 5 / span 1;
  }
  #VC26{
    grid-column: 19 / span 1 ;
    grid-row: 6 / span 1;
  }
  
  #HC21{
    grid-column: 1 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC22{
    grid-column: 2 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC23{
    grid-column: 3 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC24{
    grid-column: 4 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC25{
    grid-column: 5 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC26{
    grid-column: 6 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC27{
    grid-column: 7 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC28{
    grid-column: 8 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC29{
    grid-column: 9 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC210{
    grid-column: 10 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC211{
    grid-column: 11 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC212{
    grid-column: 12 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC213{
    grid-column: 13 / span 1 ;
    grid-row: 6 / span 1;
  }
  #HC214{
    grid-column: 14 / span 1 ;
    grid-row: 6 / span 1;
  
  }
  /*
  Third grid set up :)                 //////////////////////////////////////////
   */
  