<div class="photo-gallery-container">



  <div class="photo-gallery-one">
    <h1> Car # 237</h1>
    <div class="cover">
      <button class="left" type="button" (click)="leftScroll()">
        <img src="/assets/otherAssets/leftArrow.jpg" class="leftbtn">
      </button>
      <div class="sidescroll">

        <div class="container">
          <div class="gallery">
            <div>
              <div class="VC" id="VC1"></div>
              <div class="VC" id="VC2"></div>
              <div class="VC" id="VC3"></div>
              <div class="VC" id="VC4"></div>
              <div class="VC" id="VC5"></div>
              <div class="VC" id="VC6"></div>
              <div class="HC" id="HC1"></div>
              <div class="HC" id="HC2"></div>
              <div class="HC" id="HC3"></div>
              <div class="HC" id="HC4"></div>
              <div class="HC" id="HC5"></div>
              <div class="HC" id="HC6"></div>
              <div class="HC" id="HC7"></div>
              <div class="HC" id="HC8"></div>
              <div class="HC" id="HC9"></div>
              <div class="HC" id="HC10"></div>
              <div class="HC" id="HC11"></div>
              <div class="HC" id="HC12"></div>
              <div class="HC" id="HC13"></div>
              <div class="HC" id="HC14"></div>
            </div>

            <figure id="GI1">
              <a href="/photo-gallery/{{PHOTOS[0].car}}/{{PHOTOS[0].id}}">
                <img src="{{PHOTOS[0].path}}" alt="Gallery image 1" class="gallery__img">
              </a>
            </figure>

            <figure id="GI2" >
              <a href="/photo-gallery/{{PHOTOS[1].car}}/{{PHOTOS[1].id}}">
                <img src="{{PHOTOS[1].path}}" alt="Gallery image 2" class="gallery__img">
              </a>
            </figure>

            <figure id="GI3" >
              <a href="/photo-gallery/{{PHOTOS[2].car}}/{{PHOTOS[2].id}}">
                <img src="{{PHOTOS[2].path}}" alt="Gallery image 3" class="gallery__img">
              </a>
            </figure>

            <figure id="GI4" >
              <a href="/photo-gallery/{{PHOTOS[3].car}}/{{PHOTOS[3].id}}">
                <img src="{{PHOTOS[3].path}}" alt="Gallery image 4" class="gallery__img">
              </a>
            </figure>

            <figure id="GI5" >
              <a href="/photo-gallery/{{PHOTOS[4].car}}/{{PHOTOS[4].id}}">
                <img src="{{PHOTOS[4].path}}" alt="Gallery image 5" class="gallery__img">
              </a>
            </figure>

            <figure id="GI6" >
              <a href="/photo-gallery/{{PHOTOS[5].car}}/{{PHOTOS[5].id}}">
                <img src="{{PHOTOS[5].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI7" >
              <a href="/photo-gallery/{{PHOTOS[6].car}}/{{PHOTOS[6].id}}">
                <img src="{{PHOTOS[6].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI8" >
              <a href="/photo-gallery/{{PHOTOS[7].car}}/{{PHOTOS[7].id}}">
                <img src="{{PHOTOS[7].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI9" >
              <a href="/photo-gallery/{{PHOTOS[8].car}}/{{PHOTOS[8].id}}">
                <img src="{{PHOTOS[8].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI10" >
              <a href="/photo-gallery/{{PHOTOS[9].car}}/{{PHOTOS[9].id}}">
                <img src="{{PHOTOS[9].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI11" >
              <a href="/photo-gallery/{{PHOTOS[10].car}}/{{PHOTOS[10].id}}">
                <img src="{{PHOTOS[10].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI12" >
              <a href="/photo-gallery/{{PHOTOS[11].car}}/{{PHOTOS[11].id}}">
                <img src="{{PHOTOS[11].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

          </div>
        </div>


      </div>
      <button class="right" type="button" (click)="rightScroll()">
        <img src="/assets/otherAssets/rightArrow.jpg" class="rightbtn">
      </button>
    </div>

  </div>
  
  <br><br>
  <div class="photo-gallery-two">
    <h1> Homecoming 2023</h1>
    <div class="cover">
      <button class="left" type="button" (click)="leftScroll2()">
        <img src="/assets/otherAssets/leftArrow.jpg" class="leftbtn">
      </button>
      <div class="sidescroll" id="side2">

        <div class="container">
          <div class="gallery2">
            <div>
              <div class="VC2" id="VC21"></div>
              <div class="VC2" id="VC22"></div>
              <div class="VC2" id="VC23"></div>
              <div class="VC2" id="VC24"></div>
              <div class="VC2" id="VC25"></div>
              <div class="VC2" id="VC26"></div>
              <div class="HC2" id="HC21"></div>
              <div class="HC2" id="HC22"></div>
              <div class="HC2" id="HC23"></div>
              <div class="HC2" id="HC24"></div>
              <div class="HC2" id="HC25"></div>
              <div class="HC2" id="HC26"></div>
              <div class="HC2" id="HC27"></div>
              <div class="HC2" id="HC28"></div>
              <div class="HC2" id="HC29"></div>
              <div class="HC2" id="HC210"></div>
              <div class="HC2" id="HC211"></div>
              <div class="HC2" id="HC212"></div>
              <div class="HC2" id="HC213"></div>
              <div class="HC2" id="HC214"></div>
            </div>

            <figure id="GI21">
              <a href="/photo-gallery/{{PHOTOS2[0].car}}/{{PHOTOS2[0].id}}">
                <img src="{{PHOTOS2[0].path}}" alt="Gallery image 1" class="gallery__img">
              </a>
            </figure>

            <figure id="GI22" >
              <a href="/photo-gallery/{{PHOTOS2[1].car}}/{{PHOTOS2[1].id}}">
                <img src="{{PHOTOS2[1].path}}" alt="Gallery image 2" class="gallery__img">
              </a>
            </figure>

            <figure id="GI23" >
              <a href="/photo-gallery/{{PHOTOS2[2].car}}/{{PHOTOS2[2].id}}">
                <img src="{{PHOTOS2[2].path}}" alt="Gallery image 3" class="gallery__img">
              </a>
            </figure>

            <figure id="GI24" >
              <a href="/photo-gallery/{{PHOTOS2[3].car}}/{{PHOTOS2[3].id}}">
                <img src="{{PHOTOS2[3].path}}" alt="Gallery image 4" class="gallery__img">
              </a>
            </figure>

            <figure id="GI25" >
              <a href="/photo-gallery/{{PHOTOS2[4].car}}/{{PHOTOS2[4].id}}">
                <img src="{{PHOTOS2[4].path}}" alt="Gallery image 5" class="gallery__img">
              </a>
            </figure>

            <figure id="GI26" >
              <a href="/photo-gallery/{{PHOTOS2[5].car}}/{{PHOTOS2[5].id}}">
                <img src="{{PHOTOS2[5].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI27" >
              <a href="/photo-gallery/{{PHOTOS2[6].car}}/{{PHOTOS2[6].id}}">
                <img src="{{PHOTOS2[6].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI28" >
              <a href="/photo-gallery/{{PHOTOS2[7].car}}/{{PHOTOS2[7].id}}">
                <img src="{{PHOTOS2[7].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI29" >
              <a href="/photo-gallery/{{PHOTOS2[8].car}}/{{PHOTOS2[8].id}}">
                <img src="{{PHOTOS2[8].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI210" >
              <a href="/photo-gallery/{{PHOTOS2[9].car}}/{{PHOTOS2[9].id}}">
                <img src="{{PHOTOS2[9].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI211" >
              <a href="/photo-gallery/{{PHOTOS2[10].car}}/{{PHOTOS2[10].id}}">
                <img src="{{PHOTOS2[10].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

            <figure id="GI212" >
              <a href="/photo-gallery/{{PHOTOS2[11].car}}/{{PHOTOS2[11].id}}">
                <img src="{{PHOTOS2[11].path}}" alt="Gallery image 6" class="gallery__img">
              </a>
            </figure>

          </div>
        </div>


      </div>
      <button class="right" type="button" (click)="rightScroll2()">
        <img src="/assets/otherAssets/rightArrow.jpg" class="rightbtn">
      </button>
    </div>

  </div>

</div>


<app-footer></app-footer>