<div class="container">
    <div class="hero-txt">
        <h1>Our History</h1>
        <p>
            Mizzou Electric Racing was previously known as Mizzou Eco Racing. The Eco Racing team was involved in building solar cars, hydrogen cars, and an electric conversion of a Chevy S10. The Solar Car Team competed annually in the American Solar Challenge also known as “Sunrayce,” where the cars would race from Chicago to Los Angeles over 10 days. Mizzou Eco Racing switched over to building hydrogen cars and competed in Shell Eco-Marathon from year to year. In 2017, the Electric Car Team converted a Chevy S10 to an electric vehicle. 
        </p>
        <p>
            In 2022, Mizzou Eco Racing became Mizzou Electric Racing. We moved from the basement shop of Naka Hall (Engineering Building West) to a new shop in Lafferre Hall with Mizzou Racing, and together, began manufactruing Mizzou’s very first Formula SAE Electric Vehicle.
        </p>
    </div>
    <img src="../../assets/otherAssets/cars.png">
    <div class="images">
        <img src="../../assets/otherAssets/hydrogen.png">
        <img src="../../assets/otherAssets/solar.png">
    </div>
</div>
<app-footer></app-footer>
