<div class="comp-one-container" style="padding-bottom: 100px; background-color: rgb(34, 34, 34);">
    <table>
      <tr>
        <td id="left-title" style="vertical-align: text-top;">
          <h1 style="color: #F1B82D;">June 2023-<br>Michigan</h1>
          <p style="color: rgb(192, 192, 192);">
            Our first EV! Car #237 made it to Michigan after the hard work from many team members. This, in itself, is a huge accomplishment for the team. We couldn't have done it without graduated members Spencer Goldstein, Cory Haberberger, & Chris Drake and Mizzou Electric Racing founders Hayden Higgins, Brooke Becker, & Caleb Hollenbeck. Their legacy will be remembered and honored by current & future Mizzou Racers.
          </p>
        </td>
  
        <td style="text-align: left;">
          <h2 style="color: #F1B82D;">Mizzou's First EV</h2>
          <p style="color: rgb(192, 192, 192);">
            2023 Competition Team!
          </p>
          <img src="../../../assets/june2023/june20233.png" >
          <br><br>
  
          <h2 style="color: #F1B82D;">Car #237 at Scales</h2>
          <p style="color: rgb(192, 192, 192);">
            Chris Drake in the car at Scales
          </p>
            <img src ="../../../assets/june2023/june20231.png" >
            <br><br>
  
          <h2 style="color: #F1B82D;">Car #237's First Drive</h2>
          <p style="color: rgb(192, 192, 192);">
            The team gathered the morning of our departure for Michigan to witness the EV's first drive! Chris Drake (driver).
          </p>
            <img src="../../../assets/june2023/june20232.png" >
        </td>
      </tr>
    </table>
</div>
<app-footer></app-footer>

