<div class="desrciption">
    <div class="description-content">
        <h1>Electronics</h1>
        <p>
            Our electronics team is responsible for the design and implementation of all the electronics and wiring in the car. We assemble our entire wiring harness from scratch to connect our MoTec M150, custom power distribution unit, datalogger, electronic throttle, digital dash, and other electronic components. The team makes various custom PCBs and firmware packages to help us gain a competitive advantage through electronics.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/electronics1.png">
    <img src="../../../assets/subteams/electronics2.png">
    <img src="../../../assets/subteams/electronics3.png">
</div>
<div class="desrciption" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Hayden Higgins</h1>
        <p>
            Hayden is a senior electrical engineering and physics student. He joined the team in the Fall of 2021 and was a key member in producing Mizzou’s first Formula SAE EV. Hayden’s goals for this season are to test and characterize the EV powertrain to inform future design decisions, refine custom electronic modules and controls to be robust, effective, and serviceable, and finally to repackage the high voltage systems to be cleaner, lighter, and safer.  
        </p>
    </div>
</div>
<app-footer></app-footer>