<div class="description">
    <div class="description-content">
        <h1>Electronics</h1>
        <p>
            Our electronics team is responsible for the design and implementation of all electronic modules and wiring in the EV. We integrate numerous custom printed circuit board modules, a battery management system, traction inverter, axial flux motor, ECU, and more to produce a cohesive system and competitive race car.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/electronics1.png">
    <img src="../../../assets/subteams/electronics2.png">
    <img src="../../../assets/subteams/electronics3.png">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Hayden Higgins</h1>
        <p>
            Hayden is a senior electrical engineering and physics student. He joined the team in the Fall of 2021 and was a key member in producing Mizzou’s first Formula SAE EV. Hayden’s goals for this season are to test and characterize the EV powertrain to inform future design decisions, refine custom electronic modules and controls to be robust, effective, and serviceable, and finally to repackage the high voltage systems to be cleaner, lighter, and safer.  
        </p>
    </div>
</div>
<app-footer></app-footer>
