<div class="desrciption">
    <div class="description-content">
        <h1>Vehicle Dynamics</h1>
        <p>
            Our vehicle dynamics team manufactures components in-house. The suspension package involves our springs, dampers, anti-roll bars, push & pull rods, control arms, and tires. The suspension team is involved with all things tuning: dampers, toe, camber, tire temperatures. Using this data and knowledge of vehicle dynamics, we make adjustments to the car depending on the type of driving we are doing.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/subteams/dynamics1.png">
    <img src="../../../assets/subteams/dynamics2.png">
    <img src="../../../assets/subteams/dynamics3.png">
</div>
<div class="desrciption" id="team-leader">
    <div class="description-content">
        <h1>Sub Team Lead: Aaron Jewett</h1>
        <p>
            Aaron is a junior mechanical engineering major with a math minor. He joined the team in Fall 2021 and served as brakes & controls lead for two years. During this time Aaron worked closely with previous suspension lead (Spencer Goldstein, Spring 2023) to learn the art of vehicle dynamics. Aaron's design goals for this season include a rear structure update, anti-roll bar redesign, and ensuring the car's quality and dependability.
        </p>
    </div>
</div>
<app-footer></app-footer>