<div class="container">
    <div class="about-txt">
        <h1>Formula SAE</h1>
        <p><i>
            "The Formula SAE competitions challenge teams of university
            undergraduate and graduate students to conceive, design, fabricate, 
            develop and compete with small, formula style vehicles. The 
            competition is an engineering education competition that 
            requires performance demonstration of vehicles in a series of events, 
            both off track and on track against the clock. Each competition 
            gives teams the chance to demonstrate their creativity and engineering 
            skills in comparison to teams from other universities around the world."
        </i></p>
    </div>
    <img src="../../assets/car237/car2376.png">
</div>

<div class="days">
    <div class="day">
        <div class="first">
            <img src="../../assets/compOverview/day1.png">
        </div>
        <div class="second">
            <h1>Day 1</h1>
            <h2>Technical Inspection</h2>
            <p>
                Every year FSAE releases rules that every team must follow. 
                These rules dictate how each car is built, but every team has 
                its own unique design. The car goes through a rigorous technical 
                inspection performed by industry professionals. This is where we earn our first three nose cone stickers after passing mechanical, accumulator, and EV active technical inspections.
            </p>

        </div>
    </div>
    <div class="day" id="day-two">
        <div class="first">
            <h1>Day 2</h1>
            <h2>Static Events & Presentations</h2>
            <p>
                After passing mechanical, accumulator, and EV active technical inspection, we must earn three more stickers: tilt, rain, and brakes. For tilt test, with a driver sitting in the car, it is tilted up to 45 and then 60 degrees. Industry professionals are checking that the car is okay structurally and it is safe for the driver. During the rain test, the tractive system is active, the car is lifted, and is exposed to 2 minutes of water spray, monitored for 2 minutes, and then the electrical system must work correctly. The car then heads to brake testing. A driver will fully accelerate and then lock all four tires without the car turning off. After receiving all stickers for these events, we get to drive!
            </p>
            <p>
                Our design and business presentations also happen during these 
                static events. Our team leads present their designs of the car 
                to industry professionals and are ranked on a multitude of criteria. 
                We also present our business presentation during this time.
            </p>
       
        </div>
        <div class="second">
            <img src="../../assets/compOverview/day2.jpeg">
        </div>
    </div>
    <div class="day">
        <div class="first">
            <img src="../../assets/compOverview/day3.png">
        </div>
        <div class="second">
            <h1>Day 3</h1>
            <h2>Dynamic Events</h2>
            <p>
                This is when the driving begins! Drivers compete in skidpad, 
                autocross, and acceleration events. Each event has two drivers 
                per team, and each driver gets two runs. This day is action-packed 
                and when all the hard work pays off!
            </p>

        </div>
    </div>
    <div class="day" id="day-four">
        <div class="first">
            <h1>Day 4</h1>
            <h2>Endurance</h2>
            <p>
                The endurance event takes the entirety of the final day. Two drivers compete on the logest course of the competition. It is essentially a larger version of the autocross race, Endurance tests how long the car is able to run, and cooling is often the biggest issue in this event.
            </p>
        </div>
        <div class="second">
            <img src="../../assets/car237/car2375.png">
        </div>
    </div>
</div>
<br><br>

<app-footer></app-footer>
