.container {
    width: 100%;
}

.container img {
    width: 35%;
    margin: 0px 32.5% 20px 32.5%;
}

@media only screen 
and (max-width: 600px)
 {
    .container img {
        width: 90%;
        margin: 0 5% 0 5%;
    }

 }