
<div class=container>
    <article class="flow">
        <div class="team">
          <ul class="auto-grid" role="list">
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Brooke Becker</h2>
                <p>Member</p>
                <img alt="Anita Simmons" src="../../../assets/BrookeBecker.png" />
              </a>
            </li>
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Hayden Higgins</h2>
                <p>Member</p>
                <img alt="Profile shot for Celina Harris" src="../../../assets/HaydenHiggins.png" />
              </a>
            </li>
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Caleb Hollenbeck</h2>
                <p>Member</p>
                <img alt="Profile shot for Ruby Morris" src="../../../assets/CalebHollenbeck.png" />
              </a>
            </li>
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Example Name</h2>
                <p>Member</p>
                <img alt="Profile shot for Nicholas Castro" src="../../../assets/BrookeBecker.png" />
              </a>
            </li>
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Example Name</h2>
                <p>Member</p>
                <img alt="Profile shot for Marc Dixon" src="../../../assets/HaydenHiggins.png" />
              </a>
            </li>
            <li>
              <a href="https://swop.link/cool" target="_blank" class="profile">
                <h2 class="profile__name">Example Name</h2>
                <p>Intern</p>
                <img alt="Profile shot for Chad" src="../../../assets/CalebHollenbeck.png" />
              </a>
            </li>
          </ul>
        </div>
      </article>
</div>
