
#parent {
    display: flex;
    font-family: 'Oswald', sans-serif;
    background: rgb(17, 17, 17);
    color: rgb(172, 172, 172);
    margin: 6vh 6vh 3vh 6vh;
    padding-top: 15vh;
    padding-bottom: 10vh;
    border: solid 2px white;
    box-shadow: 1vh 1vh #7f610d;
}
#narrow {
    width: 45vh;
    text-align: center;
}

#narrow h1 {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    color: #f1bd2f;
}

#wide {
    flex: 1;
    text-align: left;
    border-left: solid 1px rgb(183, 183, 183);
}

#wide h4 {
    margin-right: 10vh;
    margin-left: 2vw;
    margin-top: 0;
    font-size: 2.5vh;
}

/* mobile only styles when the device is 0-600px in maximum width */
@media only screen 
and (max-width: 1200px)
 {
    #parent {
        display: block;
        padding: 3vh 0 5vh 0;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }

    #narrow h1 {
        padding-bottom: 0px;
        border-right: none;
        width: 100%;
        text-align: center;
    }

    #narrow {
        width: 100%;
    }

    #wide {
        text-align: center;
        flex: none;
        margin: 0;
    }

    #wide h4 {
         margin: 2vh 2vh 0 2vh;
    }

 }

