<div id="parent">
    <div id="narrow">
        <h1>About Us</h1>
    </div>
    <div id="wide">
        <h4><i>Mizzou Electric Racing is the University of Missouri’s Formula SAE Team</i></h4>
        <h4>
            We build a ¼ scale formula style car each year and compete against universities
            from around the world. The car is designed, manufactured, and built by our members;
            our organization is entirely student run. We have five sub teams: aerodynamics, 
            electronics, drivetrain, suspension, and brakes & controls. Our team is
            made up of engineering students (as well as other majors) ranging from freshmen to seniors. 
            We compete in the electric class of FSAE.
        </h4>
    </div>
  </div>
