<app-hero-img></app-hero-img>
<app-about></app-about>

<div id="carousel" class="carousel">
    <div class="carousel-track-container">
      <ul class="carousel-track">
        <li><img src="../../assets/car237/car2371.png" alt="Image 1" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2372.png"  alt="Image 2" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2373(2).png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2374.png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2375.png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2376.png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2377.png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2378.png"  alt="Image 3" class="carousel-img"></li>
        <li><img src="../../assets/car237/car2379.png"  alt="Image 3" class="carousel-img"></li>
        <!-- Repeat images to allow for continuous loop -->
      </ul>
    </div>
  </div>
  
<app-contact></app-contact>
<app-footer></app-footer>
