

.images {
    display: flex;
    align-items: center;
    padding: 0; /* adjust this value if you want to change the background color of the container */
    width: 100%; /* full width of parent */
    height: 45vh; /* or whatever height you want */
    margin-top: 50px;
    padding: 3px 0 3px 0;
}

.images img {
    width: 25%; /* adjusting for four images and a 1px border between each */
    height: 100%; /* full height of the container */
    object-fit: cover; /* this will crop the image to cover the area without distorting */
    transition: 0.1s;
    margin-left: 6.5%;
    border-radius: 1vh;
}

.carousel {
    overflow: hidden;
    width: 100%;
    margin: auto;
  }
  
  .carousel-track-container {
    width: 100%;
    height: 35vh; /* Adjust as needed */
    margin-top: 7vh;
  }

  .carousel-track li {
    margin-right: 2vw; /* Adjust the space as needed */
  }
  
  .carousel-track {
    list-style: none;
    padding: 0;
    margin: 5vh;
    display: flex;
    animation: scroll-left 60s linear infinite;
  }
  
  .carousel-img {
    width: 30vw;
    display: block;
    border: solid 2px rgb(177, 177, 177);
    height: 30vh;
    object-fit: cover;
    box-shadow: 3px 3px #f1bd2f;
    transition: 0.2s;
  }

  .carousel-img:hover {
    transform: scale(1.05); /* gives a slight zoom effect on hover */
    transition: 0.2s;
  }
  
  /* Keyframes to create the continuous scrolling effect */
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      /* Adjust the translateX value based on the number of images and margin */
      transform: translateX(calc(-150%)); /* Assuming there's a 20px margin */
    }
  }
  

@media only screen and (max-width: 700px) {
    .images {
        height: 250px;
    }

}