* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(40, 40, 40);
    margin-top: 17vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

.small-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.card {
    box-shadow: 5px 5px #b38b26; 
    border: solid 2px white;
    flex: 0 0 650px;
    padding: 16px;
    text-align: center;
    background-color: #1c1c1c;
    height: 350px;
    margin-left: 2.2vh;
    margin-right: 2.2vh;
    color: rgb(180, 180, 180);
    position: relative;
    margin-top: 5vh;
}

.card-small {
    box-shadow: 5px 5px #b38b26; 
    border: solid 2px white;
    padding: 16px;
    text-align: center;
    flex: 0 0 180px;
    background-color: #1c1c1c;
    height: 200px;
    margin-left: 2.2vh;
    margin-right: 2.2vh;
    color: rgb(180, 180, 180);
    margin-top: 5vh;
}

.first {
    width: 300px;
    float:left; 
}


.first-small img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.first img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.second {
    overflow: hidden; 
    text-align: left;
    padding-left: 50px;
}

.second-small {
    overflow: hidden;
    text-align: center;
}
  
#role {
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}

#name {
    font-family: 'Oswald', sans-serif;
    margin-top: -15px;
}

#name-small {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#url {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    bottom: 20px;
    text-decoration: underline;
    color:rgb(180, 180, 180);
}

.card-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-container {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.about-container #title {
    font-size: 50px;
    padding-top: 40px;
    font-weight: bolder;
}

.about-container h1 {
    color: #F1B82D;
}

.about-container p{
    text-decoration: underline;
    font-size: 18px;
    color: rgb(168, 168, 168);
}

.about-container #about-txt {
    text-decoration: none;
    margin-left: 5vh;
    margin-right: 5vw;
    font-size: 22px;
}





@media screen and (max-width: 670px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout */
        grid-gap: 20px; /* Space between cards */
        padding: 2vh;
    }

    .card-small {
        height: auto;
        grid-template-columns: repeat(auto-fit, 50%);
    }

    .card {
        height: auto; /* Adjust height to be auto so it scales with the content */
        width: 95%;
        margin: auto;
        margin-bottom: 20px; /* Add some space between cards */
        text-align: center;
    }

    .first {
        width: 100%;
    }

    .first img {
        width: 95%; /* Make image take full width of the card */
        height: auto; /* Adjust height to maintain aspect ratio */
        border-radius: 10px;
        margin: 0 2.5% 0 2.5%;
    }

    .second {
        padding: 10px; /* Adjust padding as needed */
        text-align: center;
    }

    #name, #role, #url {
        font-size: 5vw; /* Use viewport width for font sizing to scale with the screen */
    }

    .about-container #about-txt {
        margin-left: 5vh;
        margin-right: 5vh;
        font-size: 4vw; /* Adjust font size to be responsive */
    }

    #title {
        margin-top: 10vh; /* Adjust the top margin for the title */
        font-size: 6vw; /* Make the title responsive */
    }

    #url {
        position: relative; /* Keep it relative */
        bottom: 0;
    }

    /* Remove floats and fixed heights as they are not necessary with grid */
    .first, .second {
        float: none;
        height: auto;
    }

    
}

@media screen and (max-width: 1150px) {
    .small-card-container {
        grid-template-columns: repeat(auto-fit, 25%);
    }
}

@media screen and (max-width: 900px) {
    .small-card-container {
        grid-template-columns: repeat(auto-fit, 50%);
    }
}

@media screen and (max-width: 485px) {
    .small-card-container {
        grid-template-columns: repeat(auto-fit, 50%);
    }

    .first-small img{
        width: 100px;
        height: 100px;
    }
}

/* 1150 */
