<div class="container">

    <div class="about-container">
        <h1 id="title">Meet Our Sponsors</h1>
        <a href="https://mizzougivedirect.missouri.edu/fund.aspx?item_id=875"><p> ​If you are interested in sponsoring our team, please reach out to saeelectric@missouri.edu or use our donation link</p></a>
        <p id="about-txt">
            We have the privilege of receiving support from numerous sponsors! 
            Our sponsors make our cars possible. The complementary products, monetary 
            donations, and services we receive greatly benefit our build process and 
            we could not do it without them.
        </p>
    </div>


    <div class="card-container">
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/MUengineering.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">MU College of Engineering</h1>
                    <a id="url" href="https://engineering.missouri.edu/">engineering.missouri.edu</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/Altium.png">
                </div>
                <div class="second">
                    <p id="role">Software</p>
                    <h1 id="name">Altium</h1>
                    <a id="url" href="https://www.altium.com/">altium.com</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/SolidWorks.png">
                </div>
                <div class="second">
                    <p id="role">Software</p>
                    <h1 id="name">SolidWorks</h1>
                    <a id="url" href="https://www.solidworks.com/">solidworks.com</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/gramin.png">
                </div>
                <div class="second">
                    <p id="role">Funding</p>
                    <h1 id="name">Garmin</h1>
                    <a id="url" href="https://www.garmin.com/en-US/">garmin.com</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/3Dconnection.png">
                </div>
                <div class="second">
                    <p id="role">Products</p>
                    <h1 id="name">3dconnexion</h1>
                    <a id="url" href="https://3dconnexion.com/us/">3dconnexion.com</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/hakko.png">
                </div>
                <div class="second">
                    <p id="role">Products</p>
                    <h1 id="name">Hakko</h1>
                    <a id="url" href="https://www.hakko.com/">hakko.com</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/powertune.png">
                </div>
                <div class="second">
                    <p id="role">Products</p>
                    <h1 id="name">Powertune Digital</h1>
                    <a id="url" href="https://us.powertunedigital.com/">powertunedigital.com</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="first">
                    <img src="../../assets/sponsors/zoltek.png">
                </div>
                <div class="second">
                    <p id="role">Products</p>
                    <h1 id="name">Zoltek</h1>
                    <a id="url" href="https://zoltek.com/">zoltek.com</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/impact.png">
              </div>
              <div class="second">
                  <p id="role">Funding</p>
                  <h1 id="name">Impact</h1>
                  <a id="url" href="https://www.impact4800.com/">impact4800.com</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/quickwedge.png">
              </div>
              <div class="second">
                  <p id="role">Products</p>
                  <h1 id="name">QuickWedge</h1>
                  <a id="url" href="https://quickwedge.com/">quickwedge.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/moneta.png">
              </div>
              <div class="second">
                  <p id="role">Funding</p>
                  <h1 id="name">Moneta</h1>
                  <a id="url" href="https://monetagroup.com/">monetagroup.com</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/cswr.png">
              </div>
              <div class="second">
                  <p id="role">Funding</p>
                  <h1 id="name">CSWR</h1>
                  <a id="url" href="https://www.centralstateswaterresources.com/">centralstateswaterresources.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/ansys.png">
              </div>
              <div class="second">
                  <p id="role">Software</p>
                  <h1 id="name">Ansys</h1>
                  <a id="url" href="https://www.ansys.com/">ansys.com</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/rapidharness.png">
              </div>
              <div class="second">
                  <p id="role">Software</p>
                  <h1 id="name">Rapidharness</h1>
                  <a id="url" href="https://rapidharness.com/">rapidharness.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="first">
                  <img src="../../assets/sponsors/partsbox.png">
              </div>
              <div class="second">
                  <p id="role">Software</p>
                  <h1 id="name">Partsbox</h1>
                  <a id="url" href="https://partsbox.com/">partsbox.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <app-footer></app-footer>
</div>

